:root {
    --primary-color: #06171E;
    --secondary-color: #09212A;
    --arrow-color: #FD5B4F;
    --texts: "Figtree";
}

/* figtree-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/figtree-v9-latin/figtree-v9-latin-regular.woff2) format('woff2');
}
/* figtree-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/figtree-v9-latin/figtree-v9-latin-700.woff2) format('woff2'); 
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url(./fonts/figtree-v9-latin/figtree-v9-latin-800.woff2) format('woff2');
}

/** General **/

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: var(--primary-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 81px;
    width: 100%;

    background-color: var(--secondary-color);
}

.header_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    max-width: 1440px;
    width: 100%;

    padding-left: 140px;
}

.content_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1440px;
    width: 100%;

    padding: 80px 0px;  
}

.content_section h1 {
    font-family: var(--texts);
    font-weight: 800;
    font-size: 52px;

    color: white;
}

.img_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1440px;
    width: 100%;

    padding-top: 64px;
}

.img_section img {
    object-fit: cover;
    
    height: 150px;
    width: 150px;

    border: 2px solid #124658;
    border-radius: 16px;

    cursor: pointer;
}

.img_section img:hover {
    border: 2px solid #03dffc;
}

.imgs_first_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 16px;
}

.imgs_second_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 16px;
    padding-top: 32px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 40px;

    z-index: 1000;

    background-color: color-mix(in srgb, var(--primary-color) 80%, transparent);
}

.d_none {
    display: none;
}

.overlay_content {
    width: 390px;
    min-height: 510px;

    padding: 32px;

    border-radius: 32px;

    background-color: var(--secondary-color);
}

.overlay_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 32px;

    color: white;
}

.overlay_top h2 {
    font-family: var(--texts);
    font-size: 24px;
    font-weight: 700;
}

.close_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    background-color: transparent;
}

.close_button:hover {
    background-color: rgba(18, 70, 88, 1);
}

#overlay_img {
    object-fit: cover;
    
    width: 100%;
    height: 250px;
}

.overlay_navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 56px;
    padding-top: 32px;

    font-family: var(--texts);
    color: white;
}

.arrow_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    background-color: rgba(253, 91, 79, 0.1);
}

.arrow_button:hover{
    background-color: rgba(253, 91, 79, 0.3);
}

.arrow_button_left {
    rotate: 180deg;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 128px;
    width: 100%;

    background-color: var(--secondary-color);
    color: #627B84;
}

.footer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;

    font-family: var(--texts);
    font-size: 14px;
}