:root {
    --primary-color: #06171E;
    --secondary-color: #09212A;
    --arrow-color: #FD5B4F;
    --texts: "Figtree";
}

/* figtree-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/figtree-v9-latin/figtree-v9-latin-regular.woff2) format('woff2');
}

/* figtree-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/figtree-v9-latin/figtree-v9-latin-700.woff2) format('woff2');
}

/* figtree-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url(./fonts/figtree-v9-latin/figtree-v9-latin-800.woff2) format('woff2');
}

/** General **/

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    flex: 1;

    background-color: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 81px;
    width: 100%;

    background-color: var(--secondary-color);
}

.header_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    max-width: 1440px;
    width: 100%;

    padding-left: 140px;
}

.content_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1440px;
    width: 100%;

    padding: 80px 0px;
}

.content_section h1 {
    text-align: center;

    font-family: var(--texts);
    font-weight: 800;
    font-size: 52px;

    color: white;
}

.img_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1440px;
    width: 100%;

    padding-top: 64px;
    padding-left: 140px;
    padding-right: 140px;
    gap: 16px;
}

.img_section img {
    object-fit: cover;

    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;

    border: 2px solid #124658;
    border-radius: 16px;

    cursor: pointer;
}

.img_button {
    background-color: transparent;
    border: none;
}

.img_section img:hover {
    border: 2px solid #32c1f1;
}

dialog {
    width: 100vw;
    height: 100vh;

    max-width: none;
    max-height: none;

    border: none;
    outline: none;

    background-color: color-mix(in srgb,
            var(--primary-color) 80%,
            transparent);

    z-index: 2;
}

.overlay[open] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_content {
    width: 390px;
    height: 510px;

    padding: 32px;

    border-radius: 32px;

    background-color: var(--secondary-color);
}

.overlay_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 32px;

    color: white;
}

.overlay_top h2 {
    font-family: var(--texts);
    font-size: 24px;
    font-weight: 700;
}

.close_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    background-color: transparent;
}

.close_button:hover {
    background-color: rgba(18, 70, 88, 1);
}

#overlay_img {
    object-fit: cover;

    width: 100%;
    height: 250px;
}

.overlay_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 56px;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;

    font-family: var(--texts);
    color: white;
}

.arrow_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    background-color: rgba(253, 91, 79, 0.1);
}

.arrow_button:hover {
    background-color: rgba(253, 91, 79, 0.3);
}

.arrow_button_left {
    rotate: 180deg;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 128px;
    width: 100%;

    background-color: var(--secondary-color);
    color: #b3bec2;
}

.footer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;

    font-family: var(--texts);
    font-size: 14px;
}


/**768px**/

@media (max-width: 768px) {

    .header_div {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-left: 0;
    }

    .img_section {
        padding-left: 70px;
        padding-right: 70px;
    }
}

/**480px**/

@media (max-width: 480px) {
    h1 {
        font-size: 48px;
    }

    .overlay_top h2 {
        font-size: 20px;
    }

    .overlay_content {
        height: 450px;

        padding: 16px;
    }

    .img_section {
        padding-left: 12px;
        padding-right: 12px;
    }

    .overlay_navigation {
        gap: 16px;
        padding: 24px 0 0;
    }

    .arrow_button {
        width: 48px;
        height: 48px;
    }

}